h1 { margin-bottom: 0; }
h2, h3, h4 { margin-top: 2em; }
table { margin: 2em auto 3em auto; border-spacing: 10px; border-collapse: collapse; font-size: 0.8em; }
th, td { border: 1px solid #dfe2e5; padding: 5px; padding: 3px 15px !important;  }
p { text-rendering: optimizeLegibility; text-align: justify; }
blockquote {margin: 0; border: 0 solid currentColor; border-left-width: 4px; padding-left: 1.5rem; margin-top: 1.5rem; margin-bottom: 5rem; }
ul { list-style-type: none; padding-left: 0; line-height: 1.2; }
ol { padding: 0; list-style: inside decimal; line-height: 1.1; }
figure { margin: 10px 0 2.5em 0; text-align: center; }
figcaption { font-style: italic; font-size: 0.8em; }
.sourceCode, .console, .text, .text09em { margin: 0 0 1.0em 0 !important; overflow: auto; }
.text09em { font-size: 0.9em; }
.date { margin: 0 0 2em; display: block; }
#footer { margin: 5em auto 2em auto; text-align: center; font-size: 0.8em; max-width: 920px; }
#container, #header { margin: 10px auto 3em auto; max-width: 920px; }
#title-block-header { margin: 0 0 3em 0; }
