body { font: 400 1.1em/1.75 /*1.5 Helvetica, Arial,*/ Arial;  /* font-family: 'Inter var', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; */ /* font: 400 16px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; } */}
h1.title { margin-bottom: 0; }
h2 { margin-top: 70px; }
h3, h4 { margin-top: 50px; }
table { margin: 2em auto 3em auto; border-spacing: 10px; border-collapse: collapse; font-size: 0.8em; }
th, td { border: 1px solid #dfe2e5; padding: 5px; padding: 3px 15px !important;  }
small.date { margin-bottom: 20px; }
p { /* font-size: 1em; line-height: 1.3; */ text-rendering: optimizeLegibility; text-align: justify; }
p code { padding: 2px 5px; font-size: 1.1em; background: #eee; }
ul { list-style-type: none; padding-left: 0; line-height: 1.2; }
ol { padding: 0; list-style: inside decimal; line-height: 1.1; font-size: 0.9em; }
figure { margin: 10px 0 50px 0; text-align: center; }
figcaption { font-style: italic; font-size: 0.8em; }
.sourceCode, .console, .text { font-size: 14px; line-height: 1.0; margin: 0 0 50px 0 !important; }
pre.sourceCode { margin-bottom: 0 !important;}
.button { width: 22px; }
a.github, a.search, a.rss { fill: #000000; text-decoration: none; }
svg:hover,path:hover { fill: #808080; pointer-events: all; }
#links{ float: right; width: 80px; padding-top: 10px; text-align: right; height: 25px; }
#footer { margin: 80px 0 80px 0; text-align: center; font-size: 13px; }
#container, #header { margin: 10px auto 70px auto; max-width: 920px/*1100px*/; }
